# Ignore the virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore IDE/editor settings
.vscode/
.idea/
