{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">{{ name }}</h1>
        <hr>
        <h3>İş silinsin mi?</h3>
        <ul class="list-group mt-3">
            <li class="list-group-item">
                {{ task.title }}
                <br>
                <br>
                <small>Tarih: {{ task.created_at }}</small>
                <br>
                <small>Termin: {{ task.due_date }}</small>
                <br>
                <form action="{% url 'delete_task' task.id %}" method="post">
                    {% csrf_token %}
                </li>
            </ul>
            <br>
            <div class="d-flex">
                <button type="submit" class="btn btn-success me-2">Evet</button>
                <a href="{% url 'task_list' %}" class="btn btn-danger">Hayır</a>
            </div>
        </form>
    </div>
{% endblock content %}
