{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">{{ name }}</h1>
        <hr>
        <form method="post">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <label class="fw-bold">İş</label>
                        </td>
                        <td>
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text"
                                       id="title"
                                       name="title"
                                       class="form-control"
                                       required
                                       value="{{ task.title }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="fw-bold">Açıklama:</label>
                        </td>
                        <td>{{ form.description }}</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="fw-bold">Termin:</label>
                        </td>
                        <td>{{ form.due_date }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                                <a href="{% url 'task_list' %}" class="btn btn-danger">İptal</a>
                            </div>
                        </tr>
                    </td>
                </tbody>
            </table>
        </form>
    </div>
{% endblock content %}
