<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Task</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="mt-4">Are you sure to delete?</h1>
            <form method="post" class="mt-3" action="{% url 'delete_task' task.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Confirm</button>
            </form>
            <form action="{% url 'task_list' %}">
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </body>
</html>
